.SmallGamingContent{
    background: white;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    overflow: auto;
    position:relative;
    gap: 10px;
}
.SmallGamingContent::-webkit-scrollbar{
    height: 5px;
}
@media only screen and (max-width: 767px) {
    .SmallGamingContent{
        justify-content: space-between;
    }
}